@using SEWC_ToolBox.Languages;
@using System.Text;

@{
    Layout = "~/Views/Shared/_Layout_Function.cshtml";
    ViewBag.Title = "Add Process Linkage";
    ViewBag.VersionNo = HttpContext.Current.Application["VersionNo"].ToString();
}

@Scripts.Render("~/Scripts/CustomScripts/ToolBoxFunctional/ProcessLinkage?v=" + ViewBag.VersionNo)

<div class="container">

    <form class="layui-form layui-form-pane" action="">

        <div class="hidden">
            <input type="text" id="input_nodeID" name="input_nodeID" readonly="readonly" value="@ViewBag.NodeID" />
            <input type="text" id="input_processLinkageType" name="input_processLinkageType" readonly="readonly" value="@ViewBag.LinkageType" />
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@Html.Lang("txt_Name")</label>
            <div class="layui-input-block">
                <input type="text" id="input_Name" name="input_Name" required lay-verify="required" placeholder="@Html.Lang("txt_Name_plus")" autocomplete="off" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item" pane>
            <label class="layui-form-label">@Html.Lang("txt_Linkage")</label>
            <div class="layui-input-block">
                <input type="text" id="input_linkage" name="input_linkage" required lay-verify="required" placeholder="@Html.Lang("txt_Linkage_plus")" autocomplete="off" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@Html.Lang("txt_Sort")</label>
            <div class="layui-input-block">
                <input type="text" id="input_sort" name="input_sort" required lay-verify="required|number" placeholder="@Html.Lang("txt_Sort_plus")" autocomplete="off" class="layui-input" />
            </div>
        </div>
        <div class="layui-footer" style="text-align:center;">
            <button class="layui-btn" lay-submit lay-filter="formCreate">@Html.Lang("txt_Submit")</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="btn_reset">@Html.Lang("txt_Reset")</button>
            <button class="layui-btn layui-btn-primary" id="btn_close" type="button">@Html.Lang("txt_Close")</button>
        </div>

    </form>

</div>